.box {
  position: relative;
  height: 86vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text {
  padding: 150px 0px 0px 110px;
  display: flex;
  flex-direction: column;
  gap: -20px;
}
.yummy {
  font-size: 96px;
  font-weight: 700;
  color: transparent; /* Hide the fill */
  -webkit-text-stroke: 2px black; /* Outline with stroke */
  position: relative;

  img {
    height: 50px;
    weight: 50px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 170px;
  }
}
.Breakfast {
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -40px;
}
.para {
  font-size: 15px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #05ab54;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  max-width: 160px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-top: 30px;
}
.image {
  position: relative;
}
.plate {
  width: 450px;
  filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.4));
  -webkit-filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.4));
  margin: 70px 0 0 110px;
}
.spoon {
  position: absolute;
  width: 350px;
  filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.4));
  top: 350px;
  left: 60px;
  transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  -o-transform: rotate(80deg);
}
.banana {
  position: absolute;
  width: 400px;
  filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.4));
  top: 50px;
  right: 50px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.4));
}
.yellow {
  height: 1000px;
  width: 1000px;
  background-color: #f6d876;
  position: absolute;
  top: 20%;
  left: 70%;
  z-index: -1;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .text {
    padding: 50px 10px 0px 30px;
    gap: -20px;
    justify-content: center;
    gap: 30px;
  }
  .yummy {
    font-size: 50px;
    padding: 0 0 0 50px;
    img {
      top: 15px;
      left: 260px;
    }
  }
  .Breakfast {
    font-size: 45px;
    padding: 0 0 0 20px;
  }
  .para {
    font-size: 14px;
    text-align: center;
    margin-top: -20px;
  }
  .btn {
    margin: auto;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0;
  }

  .plate {
    width: 80%;
    max-width: 330px;
    margin: 0 auto;
  }

  .spoon {
    width: 250px;
    top: 30%;
    left: -8%;
  }

  .banana {
    width: 250px;
    top: -30px;
    right: -40px;
    rotate: 350deg;
  }

  .yellow {
    height: 1200px;
    width: 1200px;
    top: 30%;
    left: 20%;
  }
}
